---
import Logo from "../assets/images/Logo.astro";
import Link from "../components/Link.astro";
import Section from "../components/Section.astro";
import BaseLayout from "../layout/BaseLayout.astro";
import LLogo from "../assets/images/L_Logo.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout>
  <Section classes=" bg-white flex flex-col justify-center items-center ">
    <div class="flex justify-between w-full items-center">
      <a href="/"><Logo /></a>
      <Link classes="cta" url="contact">Let's have a chat!</Link>
    </div>
    <div class="grow flex flex-col items-center justify-center gap-6">
      <div class="overflow-clip"><h1 class="hero-text">The Studio</h1></div>
      <img
        src="/pointing-down.svg"
        alt="hand pointing down to scroll"
        class="absolute bottom-12 right-[clamp(1rem,_0.4rem_+_3vw,_4rem)] animate-bounce"
      />
    </div>
  </Section>
  <Section
    classes=" text-white flex flex-col justify-center items-center  gap-8 bg-black"
  >
    <!-- <LLogo classes="fill-white max-w-[500px]" /> -->
    <p class="max-w-screen-lg text-center text-4xl">
      An independent digital studio based in Rotterdam. We make business stand
      out with our creative solutions.
    </p>
  </Section>

  <Section
    classes=" w-full bg-white  flex flex-col justify-center items-center  gap-6 "
  >
    <div class="overflow-clip">
      <h1 class="">what we do?</h1>
    </div>

    <!-- <ul class="flex flex-col text-[48px] text-center service border-4 relative bg-red-200">
      <li class="service-item">Web Development</li>
      <li class="service-item">E-Commerce</li>
      <li class="service-item">SEO Optimisation</li>
      <li class="service-item">UX/UI Design</li>
    </ul> -->
  </Section>
  <Hero classes="bg-white  flex flex-col">
    <div class="flex justify-between w-full items-center">
      <a href="/"><Logo /></a>
      <Link classes="cta" url="/contact">Let's have a chat!</Link>
    </div>
    <div class="grow flex flex-col items-center justify-center h-auto gap-12">
      <h1 class="">Ishmael Zouitni</h1>
      <p class="max-w-screen-lg text-center">
        "We crafted an interactive website for a freelance photographer focused
        on the values of the people he collaborates with, showcasing the values
        and genuine potential of the individuals that are the main focus of his
        work"
      </p>

    </div>
  </Hero>
  <Section
    classes="h-[20%]   w-full bg-white  flex flex-col justify-center items-center  gap-6 "
  >
    <div class="overflow-clip max-w-screen-lg">
      <h2 class="">Website Design</h2>
    </div>
    <div class="overflow-clip max-w-screen-lg">
      <p class="overflow-clip text-center">
        We combine aesthetics and functionality to create digital experiences
        that truly connect with your audience. Our user-centered design process
        not only boosts productivity but also drives revenue and growth,
        ensuring your company thrives.
      </p>
    </div>
  </Section>
  <Section
    classes="  w-full bg-white  flex flex-col justify-center items-center  gap-6 "
  >
    <div class="overflow-clip max-w-screen-lg">
      <h2 class="">Website Design</h2>
    </div>
    <div class="overflow-clip max-w-screen-lg">
      <p class="overflow-clip text-center">
        We combine aesthetics and functionality to create digital experiences
        that truly connect with your audience. Our user-centered design process
        not only boosts productivity but also drives revenue and growth,
        ensuring your company thrives.
      </p>
    </div>
  </Section>
  <Section
    classes="min-h-[50svh]  w-full bg-white  flex flex-col justify-center items-center  gap-6 "
  >
    <div class="overflow-clip max-w-screen-lg">
      <h2 class="">Website Design</h2>
    </div>
    <div class="overflow-clip max-w-screen-lg">
      <p class="overflow-clip text-center">
        We combine aesthetics and functionality to create digital experiences
        that truly connect with your audience. Our user-centered design process
        not only boosts productivity but also drives revenue and growth,
        ensuring your company thrives.
      </p>
    </div>
  </Section>
  <!-- <Section
    classes="indexCards text-white flex flex-col justify-center items-center  gap-8 bg-black"
  >
    <div class="overflow-clip max-w-screen-lg">
      <h2 class="">We’re good at</h2>
    </div>
  </Section>

  <Section
    classes="  indexCards w-full bg-white  flex flex-col justify-center items-center  gap-6 "
  >
    <div class="overflow-clip max-w-screen-lg">
      <h2 class="">Website Design</h2>
    </div>
    <div class="overflow-clip max-w-screen-lg">
      <p class="overflow-clip text-center">
        We combine aesthetics and functionality to create digital experiences
        that truly connect with your audience. Our user-centered design process
        not only boosts productivity but also drives revenue and growth,
        ensuring your company thrives.
      </p>
    </div>
  </Section>
  <Section
    classes="indexCards w-full bg-white  flex flex-col justify-center items-center  gap-6  "
  >
    <div class="overflow-clip max-w-screen-lg">
      <h2 class="">Website development</h2>
    </div>
    <div class="overflow-clip max-w-screen-lg">
      <p class="overflow-clip text-center">
        We turn ideas into powerful, interactive websites. It’s about combining
        code and design to create sites that look great and work even better. A
        solid website boosts user experience, engagement, and business growth.
        Whether it's a blog or an e-commerce powerhouse, we know how to make
        your digital vision a reality. No fluff, just results.
      </p>
    </div>
  </Section>
  <Section
    classes="   w-full bg-white  flex flex-col justify-center items-center  z-[9999] gap-6 "
  >
    <div class="overflow-clip max-w-screen-lg">
      <h2 class="">SEO Optimisation</h2>
    </div>
    <div class="overflow-clip max-w-screen-lg">
      <p class="overflow-clip text-center">
        SEO optimization is the key to making your website visible and
        attracting the right traffic. It’s about using the right keywords,
        creating quality content, and optimizing your site's structure to rank
        higher on search engines. With effective SEO, you drive organic traffic,
        increase engagement, and boost your online presence. No gimmicks, just
        strategic moves to get you noticed and grow your business.
      </p>
    </div>
  </Section> -->
</BaseLayout>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

gsap.set('.service-item', {position: 'absolute', top: 0})

</script>
