---
import Logo from "../assets/images/Logo.astro";
import Link from "../components/Link.astro";
import Section from "../components/Section.astro";
import BaseLayout from "../layout/BaseLayout.astro";
import LLogo from "../assets/images/L_Logo.astro";
import Hero from "../components/Hero.astro";
import Design from "../assets/icons/Design.astro";
import Dev from "../assets/icons/Dev.astro";
import Eye from "../assets/icons/Eye.astro";
---

<BaseLayout>
  <Section classes=" bg-white flex flex-col justify-center items-center ">
    <div class="flex justify-between w-full items-center">
      <a href="/"><Logo /></a>
      <Link classes="cta" url="contact">Let's have a chat!</Link>
    </div>
    <div class="grow flex flex-col items-center justify-center gap-6">
      <div class="overflow-clip"><h1 class="hero-text">The studio</h1></div>
      <img
        src="/public/pointing-down.svg"
        alt="hand pointing down to scroll"
        class="absolute bottom-12 right-8 md:right-[clamp(1rem,_0.4rem_+_3vw,_4rem)] animate-bounce"
      />
    </div>
  </Section>
  <Section
    classes=" text-white flex flex-col justify-center items-center  gap-8 bg-black" 
  >

    <p
      class="max-w-screen-lg text-[clamp(1.125rem,_0.9rem_+_1.125vw,_2.25rem)] text-justify"
    >
      An independent digital studio based in Rotterdam, Big Baboons Studio
      blends creativity and technology to make your digital dreams come true. As
      a dynamic web agency, we help businesses build a strong online presence.
      We create beautiful, functional websites that showcase your brand and
      engage your audience. Using innovative design and the latest technology,
      we bring your vision to life.
    </p>
  </Section>
  <Section classes=" indexCards  bg-accent flex flex-col justify-center items-center" >
    <div class="overflow-clip"><h1 class="hero-text text-white">What we do</h1></div>
  </Section>
  <Section sectionClass=" mobile:h-auto" classes="relative   w-full bg-white  flex flex-col justify-center items-center gap-3 lg:gap-12  "
  >
    <div
      class="group peer flex flex-col lg:flex-row justify-center lg:justify-between gap-3 lg:gap-12 items-center px-2 py-2 lg:px-8 lg:py-6 w-full border-4 border-black rounded-3xl hover:translate-y-1 transition-all duration-500 shadow-[0px_8px_0px_0px_rgba(28,28,28)] hover:shadow-[0px_0px_0px_0px_rgba(28,28,28)] max-w-screen-2xl h-full"
    >
      <div class="w-full max-w-16 lg:max-w-32 ">
        <Design />
      </div>
      <div class="  text-center lg:text-justify  w-full grow">
        <h2>Design</h2>
        <div class="lg:grid grid-rows-[0fr] group-hover:grid-rows-[2fr] transition-all duration-500">
          <p class="  overflow-hidden text-lg lg:text-xl">
            Our design process begins with in-depth discovery and research to
            align with your business goals. We create intuitive UX/UI designs
            that enhance user experience, improve user engagement, and reflect
            your brand identity.
          </p>
        </div>
      </div>
      <ul
        class="hidden lg:flex flex-col text-nowrap gap-0 font-atk text-lg  w-1/4"
      >
        <li >User Research</li>
        <li >User Interface Design</li>
        <li >Mobile Design</li>
        <li >Responsive Design</li>
        <li >Design System</li>
        <li >Motion Design</li>
      </ul>
    </div>
    <div
    class="group flex flex-col lg:flex-row justify-center lg:justify-between gap-3 lg:gap-12 items-center px-2 py-2 lg:px-8 lg:py-6 w-full border-4 border-black rounded-3xl hover:translate-y-1 transition-all duration-500 shadow-[0px_8px_0px_0px_rgba(28,28,28)] hover:shadow-[0px_0px_0px_0px_rgba(28,28,28)] max-w-screen-2xl h-full"
  >
    <div class="w-full max-w-16 lg:max-w-32 ">
      <Dev />
    </div>
    <div class="  text-center lg:text-justify  w-full grow">
      <h2>Development</h2>
      <div class="lg:grid grid-rows-[0fr] group-hover:grid-rows-[2fr] transition-all duration-500">
        <p class="  overflow-hidden text-lg lg:text-xl">
          Our design process begins with in-depth discovery and research to
          align with your business goals. We create intuitive UX/UI designs
          that enhance user experience, improve user engagement, and reflect
          your brand identity.
        </p>
      </div>
    </div>
    <ul
      class="hidden lg:flex flex-col text-nowrap  gap-0  font-atk text-lg  w-1/4"
    >
      <li>Landing Pages</li>
      <li>E-Commerce</li>
      <li>API & CMS Development</li>
      <li>Webflow</li>
      <li>Custom Interaction</li>
    </ul>
  </div>

  <div
  class="group flex flex-col lg:flex-row justify-center lg:justify-between gap-3 lg:gap-12 items-center px-2 py-2 lg:px-8 lg:py-6 w-full border-4 border-black rounded-3xl hover:translate-y-1 transition-all duration-500 shadow-[0px_8px_0px_0px_rgba(28,28,28)] hover:shadow-[0px_0px_0px_0px_rgba(28,28,28)] max-w-screen-2xl h-full"
>
  <div class="w-full max-w-16 lg:max-w-32 ">
    <Eye />
  </div>
  <div class="  text-center lg:text-justify  w-full grow">
    <h2>Marketing</h2>
    <div class="lg:grid grid-rows-[0fr] group-hover:grid-rows-[2fr] transition-all duration-500">
      <p class="  overflow-hidden text-lg lg:text-xl">
        Our design process begins with in-depth discovery and research to
        align with your business goals. We create intuitive UX/UI designs
        that enhance user experience, improve user engagement, and reflect
        your brand identity.
      </p>
    </div>
  </div>
  <ul
    class="hidden lg:flex flex-col text-nowrap  gap-0  font-atk text-lg  w-1/4"
  >
    <li>Landing Pages</li>
    <li>E-Commerce</li>
    <li>API & CMS Development</li>
    <li>Search Engine Optimisation</li>
    <li>Webflow</li>
    <li>Custom Interaction </li>
  </ul>
</div>
  </Section>

  <Section classes="bg-white text-black flex flex-col justify-center items-center relative "
  >
    <div class="flex flex-col justify-center items-center gap-3">
      <img
        class=""
        src="https://res.cloudinary.com/dw9zgtd2v/image/upload/v1716791674/milo_fzmpmf.webp"
        alt=""
      />
      <div class="text-center flex flex-col justify-center items-center">
        <h3 class="text-[clamp(1.125rem,_0.95rem_+_0.875vw,_2rem)]">
          Milenko Ilic
        </h3>
        <p class="md:text-xl">Founder</p>
        <Link
          classes=" mt-4 underline md:text-xl "
          url="mailto:Milenko@bigbaboons.studio"
          target="_blank">Milenko@bigbaboons.studio</Link
        >
      </div>
    </div>
  </Section>
</BaseLayout>


<style>

li{
  @apply text-[#3d3d3d];
}
</style>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
</script>
