---
import Logo from "../assets/images/Logo.astro";
import Link from "../components/Link.astro";
import Section from "../components/Section.astro";
import BaseLayout from "../layout/BaseLayout.astro";
import LLogo from "../assets/images/L_Logo.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout>
  <Section classes=" bg-white flex flex-col justify-center items-center ">
    <div class="flex justify-between w-full items-center">
      <a href="/"><Logo /></a>
      <Link classes="cta" url="contact">Let's have a chat!</Link>
    </div>
    <div class="grow flex flex-col items-center justify-center gap-6">
      <div class="overflow-clip"><h1 class="hero-text">The Studio</h1></div>
      <img
        src="/pointing-down.svg"
        alt="hand pointing down to scroll"
        class="absolute bottom-12 right-[clamp(1rem,_0.4rem_+_3vw,_4rem)] animate-bounce"
      />
    </div>
  </Section>
  <Section
    classes=" text-white flex flex-col justify-center items-center  gap-8 bg-black"
  >
    <!-- <LLogo classes="fill-white max-w-[500px]" /> -->
    <p class="max-w-screen-lg text-center text-4xl text-justify">
      An independent digital studio based in Rotterdam, Big Baboons Studio
      blends creativity and technology to make your digital dreams come true. As
      a dynamic web agency, we help businesses build a strong online presence.
      We create beautiful, functional websites that showcase your brand and
      engage your audience. Using innovative design and the latest technology,
      we bring your vision to life.
    </p>
  </Section>

  <Section
    classes=" w-full bg-white  flex flex-col justify-center items-center  gap-6 service"
  >
    <!-- <div class="overflow-clip">
      <h1 class="">Service</h1>
    </div> -->

    <div class="grid grid-cols-2 border-4  items-center">
      <ul
        class="flex flex-col gap-2 text-[clamp(1.125rem,_0.95rem_+_0.875vw,_2rem)] font-prompt uppercase"
      >
        <li class="service-item">Web Development</li>
        <li class="service-item">Web Design</li>
        <li class="service-item">E-Commerce</li>
        <li class="service-item">SEO Optimisation</li>
      </ul>




      <ul class="flex flex-col justify-center items-center text-justify relative min-w-full    max-w-screen-sm">
        <li class="service-text 
          <p
            class=" text-[clamp(1rem,_0.975rem_+_0.125vw,_1.125rem)] w-full max-w-screen-sm"
          >
            We turn ideas into powerful, interactive websites. It’s about code
            and design to create sites that look great and work even better.
            solid website boosts user experience, engagement, and business
            Whether it's a blog or an e-commerce powerhouse, we know how to make
            your digital vision a reality.
          </p>
        </li>
        <li class="service-text   ">

          <p
            class=" text-[clamp(1rem,_0.975rem_+_0.125vw,_1.125rem)] w-full max-w-screen-sm"
          >
            We turn ideas into powerful, interactive websites. It’s about code
            and design to create sites that look great and work even better.
            solid website boosts user experience, engagement, and business
            Whether it's a blog or an e-commerce powerhouse, we know how to make
            your digital vision a reality.
          </p>
        </li>
        <li class="service-text    ">

          <p
            class=" text-[clamp(1rem,_0.975rem_+_0.125vw,_1.125rem)] w-full max-w-screen-sm"
          >
            We turn ideas into powerful, interactive websites. It’s about code
            and design to create sites that look great and work even better.
            solid website boosts user experience, engagement, and business
            Whether it's a blog or an e-commerce powerhouse, we know how to make
            your digital vision a reality.
          </p>
        </li>
        <li class="service-text  b  ">

          <p
            class=" text-[clamp(1rem,_0.975rem_+_0.125vw,_1.125rem)] w-full max-w-screen-sm"
          >
            We turn ideas into powerful, interactive websites. It’s about code
            and design to create sites that look great and work even better.
            solid website boosts user experience, engagement, and business
            Whether it's a blog or an e-commerce powerhouse, we know how to make
            your digital vision a reality.
          </p>
        </li>
        
      </ul>
    </div>
  </Section>
</BaseLayout>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const serviceItem = document.querySelectorAll(".service-item");
  const serviceText = document.querySelectorAll(".service-text");
  
  gsap.set(serviceItem, { opacity: 0.5 });
  gsap.set(serviceText, { opacity: 0.5, });

  // Show the first service item and text initially
  gsap.to(serviceItem[0], { opacity: 1 });
  gsap.to(serviceText[0], { opacity: 1,  });

  serviceItem.forEach((item, index) => {
    gsap.timeline({
      scrollTrigger: {
        trigger: item,
        start: "top center",
        end: "bottom center",
        scrub: 1,
        markers: true,
        onEnter: () => {
          setOpacity(index);
          showText(index);
        },
        onEnterBack: () => {
          setOpacity(index);
          showText(index);
        },
      },
    });
  });

  function setOpacity(activeIndex) {
    serviceItem.forEach((item, index) => {
      gsap.to(item, { opacity: index === activeIndex ? 1 : 0.5 });
    });
  }

  function showText(activeIndex) {
    serviceText.forEach((text, index) => {
      if (index === activeIndex) {
        gsap.to(text, { opacity: 1,  });
      } else {
        gsap.to(text, { opacity: 0.5,  });
      }
    });
  }
</script>



