---
import { getCollection } from 'astro:content';

const blogPosts = await getCollection('blog');
---

<baseLayoutDutch>


    <h1>Blogs</h1>
    <ul>
      {blogPosts.map(post => (
        <li key={post.slug}>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a> - {post.data.date}
        </li>
      ))}
    </ul>
</baseLayoutDutch>