---
import "../style/Style.astro";
---

<div class="w-full min-h-full overflow-clip border-4 border-red-500">
  <img src="../src/assets/images/gbcfront.png" alt="" class="" />
  <h3 class="text-red-500 text-2xl bg-green-500 fixed top-4">Cocksucker 2000</h3>
</div>
