---
import Link from "../components/Link.astro";
import Section from "../components/Section.astro";
import Logo from "../assets/images/Logo.astro";
import PointingDown from "../assets/icons/PointingDown.astro";
import BaseLayoutDutch from "../layout/BaseLayoutDutch.astro";
---

<BaseLayoutDutch title="Contact | Big Baboons Studio" description="Maak moeiteloos contact met ons! Onze contactpagina bij Big Baboons Studio kun je contact opnemen voor  vragen, samenwerkingen of gewoon om hallo te zeggen. Neem vandaag nog contact met ons op en laten we een gesprek beginnen!">
  <Section classes="bg-white flex flex-col justify-center items-center ">
    <div class="flex justify-between w-full items-center">
      <a href="/"><Logo /></a>
      <div class="flex items-center gap-8">
        <div class="hidden md:flex items-center gap-1">
          <Link classes="font-black text-lg font-black underline text-accent" url="/en/contact">EN</Link> / <Link
            classes=" text-lg pointer-events-none"
            url="">NL</Link
          >
        </div>
        <Link classes="cta" url="contact">Laten we praten!</Link>
      </div>
    </div>
    <div class="grow flex flex-col items-center justify-center gap-6">
      <div class="overflow-clip"><h1 class="hero-text">Contact</h1></div>

      <p class="max-w-[480px] text-center">
        Heb je een project, een idee, een gedachte of wil je gewoon een simpel
        praatje maken? — We horen graag van je!
      </p>

      <div
        class="absolute bottom-0 right-4 md:right-[clamp(1rem,_0.4rem_+_3vw,_4rem)] max-w-16"
      >
        <PointingDown />
      </div>
    </div>
  </Section>
</BaseLayout>
