---
import PointingDown from "../assets/icons/PointingDown.astro";
import Logo from "../assets/images/Logo.astro";
import Link from "../components/Link.astro";
import Section from "../components/Section.astro";
import { Image } from "astro:assets";
import BaseLayoutDutch from "../layout/BaseLayoutDutch.astro";
---

<BaseLayoutDutch title="Projecten | Big Baboons Studio" description="Ontdek onze projecten bij Big Baboons Studio. Verken ons portfolio voor ons laatste werk, successen en samenwerkingen met klanten. Laten we bespreken hoe we uw project tot leven kunnen brengen!">
  <Section
    classes="indexCards bg-white flex flex-col justify-center items-center "
  >
    <div class="flex justify-between w-full items-center">
      <a href="/"><Logo /></a>
      <div class="flex items-center gap-8">
        <div class="hidden md:flex items-center gap-1">
          <Link classes="font-black text-lg font-black underline text-accent" url="/en/work">EN</Link> / <Link
            classes=" text-lg pointer-events-none"
            url="">NL</Link
          >
        </div>
        <Link classes="cta" url="contact">Laten we praten!</Link>
      </div>
    </div>
    <div class="grow flex flex-col items-center justify-center">
      <div class="overflow-clip"><h1 class="hero-text">Projecten</h1></div>

      <div class="absolute bottom-0 right-4 md:right-[clamp(1rem,_0.4rem_+_3vw,_4rem)] max-w-16 ">
        <PointingDown />
      </div>
    </div>
  </Section>
  <Section classes=" indexCards bg-white relative flex group">
    <div
      class="grow flex flex-col items-center justify-center absolute inset-0 duration-300 z-10 group-hover:bg-black/50 bg-black/0"
    >
      <a
        href="work/superdisco"
        class="work-titles text-white opacity-0 group-hover:opacity-100 duration-300"
        >Superdisco</a
      >
    </div>
    <div class="absolute inset-0 rounded-3xl block overflow-clip">
      <Image
        src="https://res.cloudinary.com/dw9zgtd2v/image/upload/f_auto,q_auto/v1/superdisco/superdisco-mockup-1"
        alt="Superdisco webiste mockup"
        widths={[480, 720, 1920, 2500]}
        sizes={`(max-width: 540px) 480px, (max-width: 720px) 720px, (max-width: 1920px) 1920px, 2500px`}
        inferSize={true}
        format="webp"
        class="h-full w-full object-contain scale-150 md:object-cover md:scale-100 rounded-3xl"
      />
    </div>
  </Section>
  <Section classes=" indexCards bg-white relative flex group">
    <div
      class="grow flex flex-col items-center justify-center absolute inset-0 duration-300 z-10 group-hover:bg-black/50  bg-black/0"
    >
      <a
        href="work/gentlemens-barber-club"
        class="work-titles text-white opacity-0 group-hover:opacity-100 duration-300"
        >Gentlemens Barber Club</a
      >
    </div>
    <div class="absolute inset-0 rounded-3xl block overflow-clip">
      <Image
        src="https://res.cloudinary.com/dw9zgtd2v/image/upload/v1716890880/gbc/gbc-mockup-1_hrn6u2.webp "
        alt="Superdisco webiste mockup"
        widths={[480, 720, 1920, 2500]}
        sizes={`(max-width: 540px) 480px, (max-width: 720px) 720px, (max-width: 1920px) 1920px, 2500px`}
        inferSize={true}
        format="webp"
        class="h-full w-full object-contain scale-150 md:object-cover md:scale-100 rounded-3xl"
      />
    </div>
  </Section>
  <Section classes="bg-white relative flex group">
    <div
      class="grow flex flex-col items-center justify-center absolute inset-0 duration-300 z-10 group-hover:bg-black/50 bg-black/0"
    >
      <a
        href="work/ishmael-zouitni"
        class="work-titles text-white opacity-0 group-hover:opacity-100 duration-300"
        >Ishmael Zouitni</a
      >
    </div>
    <div class="absolute inset-0 rounded-3xl block overflow-clip">
      <Image
        src="https://res.cloudinary.com/dw9zgtd2v/image/upload/v1716890911/ishmael-zouitni/ishi-mobile-mockup_kmzo4t.webp"
        alt="Superdisco webiste mockup"
        widths={[480, 720, 1920, 2500]}
        sizes={`(max-width: 540px) 480px, (max-width: 720px) 720px, (max-width: 1920px) 1920px, 2500px`}
        inferSize={true}
        format="webp"
        class="h-full w-full object-contain scale-150 md:object-cover md:scale-100 rounded-3xl"
      />
    </div>
  </Section>
</BaseLayout>

