---
import Logo from "../assets/images/Logo.astro";
import Link from "../components/Link.astro";
import Section from "../components/Section.astro";
import BaseLayout from "../layout/BaseLayout.astro";
import { Image } from "astro:assets";
---







<BaseLayout>
    <Section
    classes="indexCards bg-white flex flex-col justify-center items-center "
  >
    <div class="flex justify-between w-full items-center">
      <a href="/"
        ><Logo/></a
      >
      <Link classes="cta" url="contact">Let's have a chat!</Link>
    </div>
    <div class="grow flex flex-col items-center justify-center">
      <div class="overflow-clip"><h1 class="hero-text">Work</h1></div>
 

      <img
      src="/public/pointing-down.svg"
      alt="hand pointing down to scroll"
      class="absolute bottom-12 right-8 md:right-[clamp(1rem,_0.4rem_+_3vw,_4rem)] animate-bounce"
    />
    </div>
  </Section>
  <Section classes=" indexCards bg-white relative  w-full overflow-clip  group">
    <div
      class="grow flex flex-col items-center justify-center absolute inset-0  duration-300 z-10 md:group-hover:bg-black/50 bg-black/50 md:bg-black/0"
    >
      <a
        href="work/superdisco"
        class="work-titles  text-white md:opacity-0  group-hover:opacity-100 duration-300">Superdisco</a
      >
    </div>


      <Image src="https://res.cloudinary.com/dw9zgtd2v/image/upload/f_auto,q_auto/v1/superdisco/superdisco-mockup-1" 
      alt="Superdisco webiste mockup" 
      inferSize={true} 
      format="webp" 
      class="w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 duration-500"/>

    </div>
  </Section>
  <Section classes=" indexCards bg-white relative  w-full overflow-clip  group">
    <div
    class="grow flex flex-col items-center justify-center absolute inset-0  duration-300 z-10 md:group-hover:bg-black/50 bg-black/50 md:bg-black/0"
    >
      <a
        href="work/gentlemens-barber-club"
        class="work-titles  text-white opacity-100 md:opacity-0 group-hover:opacity-100 duration-300">Gentlemens barber club</a
      >
    </div>
    <Image src="https://res.cloudinary.com/dw9zgtd2v/image/upload/f_auto,q_auto/v1/gbc/gbc-mockup-1" 
    alt="Superdisco webiste mockup" 
    inferSize={true} 
    format="webp" 
    class="w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 duration-500"/>

    </div>
  </Section>
  <Section classes="  bg-white relative  w-full overflow-clip  group">
    <div
    class="grow flex flex-col items-center justify-center absolute inset-0  duration-300 z-10 md:group-hover:bg-black/50 bg-black/50 md:bg-black/0"
    >
      <a
        href="work/gentlemens-barber-club"
        class="work-titles  text-white opacity-100 md:opacity-0 group-hover:opacity-100 duration-300">Ishmael Zouitni</a
      >
    </div>
    <Image src="https://res.cloudinary.com/dw9zgtd2v/image/upload/f_auto,q_auto/v1/ishmael-zouitni/ishmael-mockup-1" 
    alt="Superdisco webiste mockup" 
    inferSize={true} 
    format="webp" 
    class="w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 duration-500"/>


    </div>
  </Section>


</BaseLayout>