---
export interface Props {
  url?: string;
  classes?: string;
  target?: "_blank" | "_self" | "_parent" | "_top";
  text?: string;

}

const { url, classes, target, text } = Astro.props;
---

<a href={url} target={target} class:list={classes} class="group footerUp   ">
  <slot />
</a>

<style >
  .cta {
    @apply relative  block px-6 py-4 border-2 h-fit text-lg border-black bg-accent rounded-lg font-atk font-bold text-white hover:translate-y-1 transition-all duration-200  shadow-[0px_4px_0px_0px_rgba(28,28,28)]  hover:shadow-[0px_0px_0px_0px_rgba(28,28,28)] ;
  }

  .default {
    @apply relative block px-1 py-1 font-atk font-normal underline duration-500 pointer-events-auto ;
  }
  .email {
    @apply relative inline-block  font-atk font-normal underline pointer-events-auto;
    font-size: clamp(1.5rem, 1.4rem + 0.5vw, 4rem);
  }

</style>
