---

---

<nav role="navigation" class="fixed bottom-0 left-0 flex justify-center w-full rounded-lg pointer-events-none z-10 group ">
  <button aria-expanded="true" class="bg-black  rounded-lg w-14 max-w-16 max-h-16  border-4 border-black group z-50 pointer-events-auto">
    <input
      type="checkbox"
      role="button"
      class="hidden"
      id="menu"
      aria-describedby="menu"
      aria-expanded="false"
      name="hamburger"
      aria-label="Toggle navigation"
    />

    <label for="menu" id="menuid" class="">
      <div class="  flex flex-col justify-center items-center gap-1 p-3 bg-accent rounded-[4px] mb-2 group-hover:mb-4 duration-200">
        <span id="top" class="lines w-2/4 group-hover:w-full group-hover:translate-y-2 group-hover:-rotate-[40deg]"></span>
        <span id="middle" class="lines w-3/4 group-hover:w-0 "></span>
        <span id="bottom" class="lines w-full  group-hover:-translate-y-2 group-hover:rotate-[40deg] "></span>
      </div>
      <div class="w-full absolute bottom-0 left-0 border-b-8 border-black"></div>
    </label>
  </button>

  <!-- menu -->
  <ul class="flex gap-8 flex-col justify-center items-center w-full bg-black text-white fixed bottom-0 left-0 h-0 group-hover:h-full overflow-clip duration-300 rounded-xl ">
    <li>Home</li>
    <li>About</li>
    <li>Work</li>
    <li>Contact</li>
  </ul>


</nav>

<style>
  .lines {
    @apply bg-white  h-1 duration-200 transition-all ;
  }

  li{
    @apply  w-full h-fit text-center text-5xl
  }
</style>

<!-- 
<button class="inline-flex items-center justify-center bg-red-500">
 <span>


 </span>


</button> -->
