---
import Link from "./Link.astro";
---

<nav
  role="navigation"
  class="fixed bottom-0 left-0 flex justify-center w-full rounded-lg pointer-events-none group z-50"
  x-data="{open: false}"
>
  <button
    aria-expanded="true"
    class="bg-black rounded-lg w-14 max-w-16 max-h-16 border-4 border-black group z-50 group peer "
  >
    <input
      @click="open = !open"
      type="checkbox"
      role="button"
      class="hidden peer menuCB"
      id="menu"
      aria-describedby="menu"
      aria-expanded="false"
      name="menu"
      aria-label="Toggle navigation"
    />

    <label for="menu" id="menuid" class="cursor-pointer group-hover:-translate-y-4">
      <div
      
        class="flex flex-col justify-center items-center gap-1 p-3 bg-accent rounded-[4px] mb-2 group-hover:mb-4 duration-200 pointer-events-auto "
      >
        <span
          id="top"
          :class="{'w-full translate-y-2 -rotate-[40deg]': open, '': !open}" 
          class="lines w-2/4 "
        ></span>
        <span
        :class="{'w-0 opacity-0': open, '': !open}" 
        id="middle"
         class="lines w-3/4 "></span>
        <span
        :class="{'-translate-y-2 rotate-[40deg]': open, '': !open}" 
          id="bottom"
          class="lines w-full"
        ></span>
      </div>
      <div class="w-full absolute bottom-0 left-0 border-b-8 border-black">
      </div>
    </label>
  </button>

  <!-- menu -->
  <ul
    class="flex gap-8 flex-col justify-center items-center w-full text-white fixed bottom-0 left-0 h-0 peer-has-[:checked]:h-full overflow-clip duration-700 rounded-xl pointer-events-auto bg-accent z-40"
  >
  <li class="overflow-clip ">
    <div class="menulink">
    <Link
      url="/en/"
      classes="text-[clamp(2rem,_0.85rem_+_5.75vw,_7.75rem)] font-prompt  uppercase  hover:underline "
      >Home</Link
    ></div>
  </li>
    <li class="overflow-clip ">
      <div class="menulink">
      <Link
        url="/en/about"
        classes="text-[clamp(2rem,_0.85rem_+_5.75vw,_7.75rem)] font-prompt  uppercase  hover:underline "
        >About</Link
      ></div>
    </li>
    <li class="overflow-clip ">
      <div class="menulink">
      <Link
        url="/en/work"
        classes="text-[clamp(2rem,_0.85rem_+_5.75vw,_7.75rem)] font-prompt  uppercase  hover:underline "
        >Work</Link
      ></div>
    </li>
    <li class="overflow-clip ">
      <div class="menulink">
      <Link
        url="/en/contact"
        classes="text-[clamp(2rem,_0.85rem_+_5.75vw,_7.75rem)] font-prompt  uppercase  hover:underline "
        >Contact</Link
      ></div>
    </li>
    <div class="flex md:hidden items-center gap-1 px-4 py-2 rounded-lg bg-black justify-center absolute bottom-4 right-4">
      <Link classes="text-lg pointer-events-none " url="">EN</Link> / <Link
        classes="  font-black text-lg font-black underline "
        url="/">NL</Link
      >
    </div>
  </ul>
</nav>

<style>
  .lines {
    @apply bg-white  h-1 duration-200 transition-all;
  }

  li {
    @apply w-full h-fit text-center text-5xl;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const menuBtn = document.querySelector(".menuCB");
  const menuLinks = document.querySelectorAll(".menulink");

  menuBtn?.addEventListener("change", () => {
    if ((menuBtn as HTMLInputElement).checked) {
        gsap.from(menuLinks, {
            yPercent: 100,
            stagger: 0.2,
            ease: "power1",
        });
    }
});
</script>
