---
import Logo from "../../assets/images/Logo.astro";
import Hero from "../../components/Hero.astro";
import Link from "../../components/Link.astro";
import Section from "../../components/Section.astro";
import BaseLayout from "../../layout/BaseLayout.astro";
import External from "../../assets/images/External.astro";
import { Image } from "astro:assets";
---

<BaseLayout>
  <Hero classes="bg-white h-[20%] flex flex-col">
    <div class="flex justify-between w-full items-center">
      <a href="/"><Logo /></a>
      <Link classes="cta" url="/contact">Let's have a chat!</Link>
    </div>
    <div class="grow flex flex-col items-center justify-center h-auto gap-12">
      <h1 class="long-header-1">Gentlemens Barber Club</h1>
      <p class="max-w-screen-lg text-center">
        "A landing page website for a small barber shop in the Netherlands.
        Specializing in classic and modern haircuts, the site makes booking
        appointments with Rotterdam's top barber a breeze. It's designed for a
        smooth user experience, is SEO-friendly, and delivers optimal
        performance!"
      </p>
      <Link
      url="https://gentlemens-barber-club.vercel.app/"
      classes="flex gap-1 justify-center items-center underline font-atk font-bold"
      target="_blank">Check it live <External/></Link
    >
    </div>
  </Hero>
  <Section classes="indexCards bg-white relative  flex">
    <div class="absolute inset-0 rounded-3xl block">
      <video
        autoplay
        loop
        muted
        playsinline
        class="h-full w-full object-cover rounded-3xl"
      >
        <source
          src="https://res.cloudinary.com/dw9zgtd2v/video/upload/f_auto:video,q_auto/v1/gbc/gbc-vid-desktop.webm"
          type="video/webm"
        />
        <source
          src="https://res.cloudinary.com/dw9zgtd2v/video/upload/f_auto:video,q_auto/v1/gbc/gbc-vid-desktop.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </Section>

  <Section classes=" indexCards bg-white relative  flex">
    <div class="absolute inset-0 rounded-3xl block">
      <Image src="https://res.cloudinary.com/dw9zgtd2v/image/upload/f_auto,q_auto/v1/gbc/gbc-mockup-2" 
      alt="Superdisco webiste mockup" 
      widths={[480,720,1920,]}
      sizes={`(max-width: 540px) 480px, (max-width: 720px) 720px, (max-width: 1920px) 1920px`}
      inferSize={true} 
      format="webp" 
      class="h-full w-full object-cover rounded-3xl"/>
    </div>
  </Section>
  <Section classes=" indexCards bg-white relative  flex">
    <div class="absolute inset-0 rounded-3xl block">
      <Image src="https://res.cloudinary.com/dw9zgtd2v/image/upload/f_auto,q_auto/v1/gbc/gbc-mockup-3" 
      alt="Superdisco webiste mockup" 
      widths={[480,720,1920, ]}
      sizes={`(max-width: 540px) 480px, (max-width: 720px) 720px, (max-width: 1920px) 1920px`}
      inferSize={true} 
      format="webp" 
      class="h-full w-full object-cover rounded-3xl"/>
    </div>
  </Section>
  <Section classes=" indexCards bg-white relative  flex">
    <div class="absolute inset-0 rounded-3xl block">
      <Image src="https://res.cloudinary.com/dw9zgtd2v/image/upload/f_auto,q_auto/v1/gbc/gbc-mockup-4" 
      alt="Superdisco webiste mockup" 
      widths={[480,720,1920,]}
      sizes={`(max-width: 540px) 480px, (max-width: 720px) 720px, (max-width: 1920px) 1920px`}
      inferSize={true} 
      format="webp" 
      class="h-full w-full object-cover rounded-3xl"/>
    </div>
  </Section>

  <Section classes=" bg-white relative flex">
    <div class="absolute inset-0 rounded-3xl flex justify-center items-center flex-col ">
      <p class="text-[clamp(1.125rem,_0.95rem_+_0.875vw,_2rem)] font-atk">
        Check out next work
      </p>
      <Link classes="work-titles  underline" url="/work/ishmael-zouitni"
      >Ishmael Zouitni</Link>
    </div>
  </Section>
</BaseLayout>
