---
import Logo from "../../assets/images/Logo.astro";
import Hero from "../../components/Hero.astro";
import Link from "../../components/Link.astro";
import Section from "../../components/Section.astro";
import BaseLayout from "../../layout/BaseLayout.astro";
import External from "../../assets/images/External.astro";
import { Image } from "astro:assets";
---

<BaseLayout>
  <Hero classes="bg-white h-[20%] flex flex-col">
    <div class="flex justify-between w-full items-center">
      <a href="/"><Logo /></a>
      <Link classes="cta" url="/contact">Let's have a chat!</Link>
    </div>
    <div class="grow flex flex-col items-center justify-center h-auto gap-12">
      <h1 class="">Ishmael Zouitni</h1>
      <p class="max-w-screen-lg text-center">
        "We crafted an interactive website for a freelance photographer focused
        on the values of the people he collaborates with, showcasing the values
        and genuine potential of the individuals that are the main focus of his
        work"
      </p>
      <Link
      url="https://www.ishmaelzouitni.nl"
      classes="flex gap-1 justify-center items-center underline font-atk font-bold"
      target="_blank">Check it live <External/></Link
    >
    </div>
  </Hero>


  <Section classes=" indexCards bg-white relative  flex">
    <div class="absolute inset-0 rounded-3xl block">
      <Image src="https://res.cloudinary.com/dw9zgtd2v/image/upload/f_auto,q_auto/v1/ishmael-zouitni/ishmael-mockup-1.webp" 
      alt="Superdisco webiste mockup" 
      widths={[480,720,1920, 2500]}
      sizes={`(max-width: 540px) 480px, (max-width: 720px) 720px, (max-width: 1920px) 1920px, 2500px`}
      inferSize={true} 
      format="webp" 
      class="h-full w-full object-cover rounded-3xl"/>
    </div>
  </Section>

  <Section classes=" indexCards bg-white relative  flex">
    <div class="absolute inset-0 rounded-3xl block">
      <Image src="https://res.cloudinary.com/dw9zgtd2v/image/upload/f_auto,q_auto/v1/ishmael-zouitni/ishmael-mockup-2.webp" 
      alt="Superdisco webiste mockup" 
      inferSize={true} 
      widths={[480,720,1920, 2500]}
      sizes={`(max-width: 540px) 480px, (max-width: 720px) 720px, (max-width: 1920px) 1920px, 2500px`}
      format="webp" 
      class="h-full w-full object-cover rounded-3xl"/>
    </div>
  </Section>
  <Section classes=" bg-white relative  flex">
    <div class="absolute inset-0 rounded-3xl block">
      <Image src="https://res.cloudinary.com/dw9zgtd2v/image/upload/f_auto,q_auto/v1/ishmael-zouitni/ishmael-mockup-3.webp" 
      alt="Superdisco webiste mockup" 
      widths={[480,720,1920, 2500]}
      sizes={`(max-width: 540px) 480px, (max-width: 720px) 720px, (max-width: 1920px) 1920px, 2500px`}
      inferSize={true} 
      format="webp" 
      class="h-full w-full object-cover rounded-3xl"/>
    </div>
  </Section>

</BaseLayout>
