---
import Logo from "../../assets/images/Logo.astro";
import Hero from "../../components/Hero.astro";
import Link from "../../components/Link.astro";
import Section from "../../components/Section.astro";
import BaseLayout from "../../layout/BaseLayout.astro";
---

<BaseLayout>
  <Hero classes="bg-white h-[20%] flex flex-col">
    <div class="flex justify-between w-full items-center">
      <a href="/"><Logo /></a>
      <Link classes="cta" url="contact">Let's have a chat!</Link>
    </div>
    <div class="grow flex flex-col items-center justify-center h-auto gap-12">
      <h1 class="">Ishmael Zouitni</h1>
      <p class="max-w-screen-lg text-center">
        "We crafted an interactive website for a freelance photographer focused
        on the values of the people he collaborates with, showcasing the values
        and genuine potential of the individuals that are the main focus of his
        work"
      </p>
    </div>
  </Hero>
  <Section classes="indexCards bg-white relative  flex">
    <div class="absolute inset-0 rounded-3xl block">
      <video
        autoplay
        loop
        muted
        playsinline
        class="h-full w-full object-cover rounded-3xl"
      >
        <source
          src="https://res.cloudinary.com/dw9zgtd2v/video/upload/v1716398823/Unnamed-file_1_xpyjwt.webm"
          type="video/webm"
        />
        <source
          src="https://res.cloudinary.com/dw9zgtd2v/video/upload/v1716398823/Unnamed-file_1_xpyjwt.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </Section>

  <Section classes=" indexCards bg-white relative  flex">
    <div class="absolute inset-0 rounded-3xl block">
      <video
        autoplay
        loop
        muted
        playsinline
        class="h-full w-full object-cover rounded-3xl"
      >
        <source
          src="https://res.cloudinary.com/dw9zgtd2v/video/upload/v1716398933/Unnamed-file_2_lpmwe9.webp"
          type="video/webm"
        />
        <source
          src="https://res.cloudinary.com/dw9zgtd2v/video/upload/v1716398933/Unnamed-file_2_lpmwe9.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </Section>

  <Section classes=" indexCards bg-white relative  flex">
    <div class="absolute inset-0 rounded-3xl block">
      <img
        src="https://res.cloudinary.com/dw9zgtd2v/image/upload/v1716441497/Free_Iphone_15_Mockup_4_klavfr.webp"
        alt=""
        class="h-full w-full object-cover rounded-3xl"
      />
    </div>
  </Section>
  <Section classes="bg-white relative  flex">
    <div class="absolute inset-0 rounded-3xl block">
      <img
        src="https://res.cloudinary.com/dw9zgtd2v/image/upload/v1716438574/Macbook_Air_M2_Mockup_4-Recovered_q9zgyh.webp"
        alt=""
        class="h-full w-full object-cover rounded-3xl"
      />
    </div>
  </Section>
  <Section classes="bg-white relative  flex">
    <div class="absolute inset-0 rounded-3xl block">
      <img
        src="https://res.cloudinary.com/dw9zgtd2v/image/upload/v1716439466/Macbook_Air_M2_Mockup_3_bnomao.webp"
        alt=""
        class="h-full w-full object-cover rounded-3xl"
      />
    </div>
  </Section>
</BaseLayout>
