---
import Logo from "../assets/images/Logo.astro";
import FooterDutch from "../components/FooterDutch.astro";
import NavDutch from "../components/NavDutch.astro";
import "../style/Style.astro";
const { title, description, canonical } = Astro.props;
---

<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.svg"/>
    <link rel="canonical" href={canonical}/>
    <link rel="alternate" href="https://www.bigbaboons.studio/" hreflang="nl" />
    <link rel="alternate" href="https://www.bigbaboons.studio/en" hreflang="en" />
    <meta name="description" content={description} />


      <script src="../script/clarity.js"></script>
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-ENCP03GMLQ">  </script>
      <script src="../script/gtag.js"></script>

    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="node_modules/@fontsource/@fontsource/atkinson-hyperlegible/400.css"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="node_modules/@fontsource/@fontsource/atkinson-hyperlegible/700.css"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="node_modules/@fontsource/@fontsource/prompt/900.css"
      crossorigin="anonymous"
    />

    <title>{ title }</title>
  </head>
  <body class="bg-black">
    <main id="swup" class="transition-main">
      <NavDutch />
      <slot />
      <div class="lastCard hidden"></div>
      <FooterDutch/>
    </main>
    <div class="overlay transition-overlay flex justify-center items-center">
      <div class="w-full flex justify-center items-center">
        <Logo classes="fill-white min-w-[124px] md:min-w-[200px] logo-overlay transition-logo" />
      </div>
    </div>
    <script>
      import Lenis from "lenis";

      const lenis = new Lenis({
        duration: 2,
        touchMultiplier: 4,
      });

      function raf(time: number) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);
      // document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
      //   anchor.addEventListener("click", function (e) {
      //     e.preventDefault();
      //     lenis.scrollTo(this.getAttribute("href"));
      //   });
      // });
    </script>
    <script src="../script/main.ts"></script>
  </body>
</html>
